[submodule "lib/create_ap"]
	path = lib/create_ap
	url = https://github.com/oblique/create_ap.git
[submodule "lib/mirror_shared_code"]
	path = lib/mirror_shared_code
	url = git@gitlab.spackenserver.de:z-collection/mirror_shared_code.git